<h2> Liste des chevaliers </h2>

<div aria-live="polite" toastContainer class="toastSuccessClass">

</div>
 <form #validationHero="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Veuillez saisir un nom de chevalier. </label>
        <input type="text" class="form-control" id="name" name="name" required
            [(ngModel)]="heroForm.name" #name="ngModel">
            <div class="submitBtn">
                <input id="submitBtn" type="submit" [disabled]="!validationHero.valid">
            </div>
    </div>
 </form>


<ul class="heroes">
    <div class="heroes-ul">
        <li *ngFor="let hero of heroes">
            <div class="chevalier" >
                <a routerLink="/hero-details/{{hero.id}}">
                    <span class="id" > {{hero.id}} </span> <span class="name">{{hero.name}}</span>
                </a>
                <button type="button" class="delete" title="delete-hero" (click)="delete(hero)">
                    X
                </button>
            </div>
        </li>
    </div>
</ul>
